<% @users.each do |user| %>
  <% if user.logged_in? && user.last_seen && user.last_seen > 300.seconds.ago %>
    <p style="color: #27944f;">Logged <%= user.email %></p>
  <% elsif user.logged_in? && user.last_seen && user.last_seen > 15.minutes.ago %>
    <p style="color: #ffcc00;">Away <%= user.email %></p>
  <% else %>
    <p style="color: gray;">Logged out <%= user.email %></p>
  <% end %>
<% end %>

<%= link_to 'Go back', root_path, class: 'btn btn-primary', title: "Chesser-Web" %>
