<% @users.each do |user| %>
    <% if user.last_seen && user.last_seen > 10.second.ago %>
      <p style="color: #27944f;">Logged in <%= user.email %></p>
    <% else %>
      <p style="color: gray;">Logged out <%= user.email %></p>
    <% end %>
  <% end %>
 