<body class="bo">
<h1 class="d-flex column-direction justify-content-center mt-3 mb-3">Instruction</h1>
<div class="container-fluid  d-flex column-direction justify-content-center">
 <div class="inst">
 <p>
 <ul class="ul-spa">
 <li><strong>Setup:</strong> The game is played on a square board divided into 8x8 squares. Each player starts with 16 pieces: one king, one queen, two rooks, two knights, two bishops, and eight pawns. The board is arranged so that each player has a white square on their right-hand side.</li>
 <li><strong>Objective:</strong> The goal of the game is to checkmate your opponent's king. This means the opponent's king is in a position to be captured (in "check") and there is no way to move the king out of capture (mate).</li>
 <li><strong>Movement:</strong> Each type of piece moves differently:
     <ul>
         <li><strong>King:</strong> Moves one square in any direction.</li>
         <li><strong>Queen:</strong> Can move any number of squares along a rank, file, or diagonal.</li>
         <li><strong>Rook:</strong> Can move any number of squares along a rank or file.</li>
         <li><strong>Bishop:</strong> Can move any number of squares diagonally.</li>
         <li><strong>Knight:</strong> Moves to any square not on the same rank, file, or diagonal. Its movement is thus in the shape of an 'L': two squares in one direction and then one square perpendicular to that.</li>
         <li><strong>Pawn:</strong> Moves forward one square, but captures diagonally. On its first move, it has the option of moving forward two squares.</li>
     </ul>
 </li>
 <li><strong>Special Moves:</strong>
     <ul>
         <li><strong>Castling:</strong> A special move involving the king and one rook. The king moves two squares towards the rook, and then the rook moves to the square the king skipped over.</li>
         <li><strong>Pawn Promotion:</strong> If a pawn reaches the opposite side of the board, it can be promoted to any other piece (except a king).</li>
         <li><strong>En Passant:</strong> A special pawn capture move that can only occur under specific conditions.</li>
     </ul>
 </li>
 <li><strong>End of Game:</strong> The game ends when a player checkmates their opponent's king or when a player resigns. The game can also end in a draw under several conditions.</li>
</ul></p>
<h2 class="d-flex h2-inst column-direction justify-content-center mb-4">You can also watch this video</h2>
<div class="h2-frame d-flex column-direction justify-content-center mb-4">
<iframe class="movie-inst" width="560" height="315" src="https://www.youtube.com/embed/YdnvlntAQH8?si=W_9gG4sy6ZCaUAMp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

</div>





</div>
<%= link_to 'Go back', root_path, class: 'btn btn-primary button-to-back', title: "Chesser-Web" %>
</body>