<%= stylesheet_link_tag "style_for_play_active.css" %>
<div id="navbar" class="search-input d-flex flex-column justify-content-center mb-4">
    <h1 class="h1-text">Choose Player to fight!</h1>
    <div class="justline"></div>
    
    <input type="text" id="searchInput" onkeyup="searchFunction()" placeholder="Enter the name of your opponent and challenge them to a duel!" autocomplete="off">
</div>



 <%= render partial: "layouts/players" %>
 <%= link_to 'Go back', root_path, class: 'btn btn-primary button-to-back', title: "Chesser-Web" %>
  

 <script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelector('#searchInput').addEventListener('keyup', function() {
      let filter = this.value.toUpperCase();
      let playerCards = document.querySelectorAll('.texto');

      playerCards.forEach(function(card) {
        let txtValue = card.textContent || card.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          card.style.display = "";
        } else {
          card.style.display = "none";
        }
      });
    });
  });

  $(document).ready(function(){
    $("#searchInput").on('focus', function(){
      $(this).attr("placeholder", "");
    });
    $("#searchInput").on('blur', function(){
      if($(this).val().length == 0){
        $(this).attr("placeholder", "You can check here who's available to battle");
      }
    });
  });
  

</script>