<h1>New game</h1>

<%= render "form", game: @game %>

<br>

<div>
  <%= link_to "Back to games", games_path %>
  <%= link_to 'Go back', root_path, class: 'btn btn-primary', title: "Chesser-Web" %>
</div>
