* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
    font-family: Roboto;
}

body {
  height: 200vh;
}


.navbar-brand{
  padding-left: 20px;
}

.navbar-nav {
  padding-left: 10px;
}


h1 {
  color: white;
}

.chessinfo {
  height: 20px;
  background-color: #45364e;
}
.navbar {
  height: 60px;
  background-color: #e9d4d4;
}

.left-section {
  display: inline-block;
}
.middle-section {
  display: inline-block;
}
.right-section {
  display: inline-block;
}
#home-container {
  margin-top: 25px;
}



.jumbotron {
  background-image: url("hoche3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  border-radius: 15px;
  border: 2px solid rgb(255, 255, 255);
  outline: 4px solid black;
  padding: 25px;
  text-align: center;
  
 
 
}
.hello-user {
  color: #0a58ca;
  font-weight: 500;
  transition: 0.85s;
}

.hello-user:hover {
  color: #0066ff;
  
  cursor: url('konik.jpg');
 
}


.display-4 {
  text-align: center;
}
.lead {
  color: white;
  text-align: center;
  margin-bottom: 0;
}
.createdby {
  color: rgb(158, 158, 158);
  text-align: center;
  margin-top: 10px;
  font-size: 10px;

  
}
#button{
    display: grid;
    place-items: center;
    padding: 10px;

}
.hello2{
    font-weight: 700;
    font-size: 30px;
}
.description{
    font-size: 12px;
}
.nav-createdby{
    display: grid;
    place-items: center;

 
}
